* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: transparent;
  font-size: 14px;
}

.update-loading-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    height: 100px;
    margin-bottom: 2rem;
  }

  .text {
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
  }

  progress {
    width: 200px;
    height: 6px;
    appearance: none;
  }

  progress::-webkit-progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background: rgba(162, 236, 251, 0.2);
    overflow: hidden;
  }

  progress::-webkit-progress-value {
    height: 100%;
    border-radius: 999px;
    background: #a2ecfb;
    transition: all 250ms;
  }
}
